/** Start Media Query **/
@media(min-width:1680px){
  .our-service-section{
    min-height: 100vh;
  } 
}

@media only screen and (min-width:1200px) and (max-width:1440px) {

  .banner .content,
    body.body .container-fluid {
    padding: 0 3em;
  }

  body.body {
    h1 {
      font-size: 42px;
    }

    .h2,
    h2 {
      font-size: 37px;
    }

    h3 {
      font-size: 28px;
    }

    h4 {
      font-size: 23px;
    }

    h5 {
      font-size: 18px;
    }

    h6 {
      font-size: 16px;
    }

    .text-lg {
      font-size: 42px;
    }

    .text-md {
      font-size: 28px;
    }
  }
}

@media(max-width:1366px){
  
  .cp_padel_navbar .navbar-nav .nav-item, .header--inner .cp_padel_navbar .navbar-nav .nav-item{
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media only screen and (min-width:1200px) and (max-width:1280px) {
  .cp_padel_navbar .navbar-nav .nav-item, .header--inner .cp_padel_navbar .navbar-nav .nav-item {
    margin-left: 0px;
    margin-right: 0px;
    
}

  header.header .main-header .left-header {
    width: 285px;
  }

  header.header .main-header .right-header {
    width: calc(100% - 285px);
  }

  header.header .main-header .header-logo {
    padding: 60px 15px 18px;
  }
}



@media only screen and (min-width:992px) and (max-width:1199px) {
  .cp_padel_navbar .navbar-nav .nav-item{
    margin-left: 0;
    margin-right: 0;
  }
  .header--inner .cp_padel_navbar .navbar-nav .nav-item{
    margin-left: 0;
    margin-right: 0;
  }
  .event-details #sync1 .item {
    height: 380px;
  }

  .top-sec .list li {
    padding: 0 20px;
  }

  .top-sec .list {
    margin: 0 -27px;
  }

  .icon-sec .row {
    padding: 30px 10px;
  }

  header.header .main-header .left-header {
    width: 215px;
  }

  header.header .main-header .header-logo .header-logo__link img {
    width: 155px;
  }


  header.header .main-header .right-header {
    width: calc(100% - 215px);
  }

  header.header .main-header .header-logo {
    padding: 45px 15px 15px;
  }

  header.header .main-header .main-menu li {
    padding: 0 7px;
  }

  header.header .main-header {
    padding: 20px 0;
  }

  header.header .main-header .main-menu li a {
    font-size: 14px;
  }

  .banner .content,
  body.body .container-fluid {
    padding: 0 2em;
  }

  body.body {
    font-size: 15px;

    h1 {
      font-size: 37px;
    }

    .h2,
    h2 {
      font-size: 31px;
    }

    h3 {
      font-size: 23px;
    }

    h4 {
      font-size: 19px;
    }

    h5 {
      font-size: 16px;
    }

    h6 {
      font-size: 15px;
    }

    .text-lg {
      font-size: 36px;
    }

    .text-md {
      font-size: 23px;
    }
  }

  .icon-sec .row .content .img img {
    max-width: 45px;
  }

  .icon-sec .row .content .text {
    width: calc(100% - 45px);
    padding-left: 10px;
  }
}

@media only screen and (max-width:991px) {
  .post-img{
    position: static;
  }
  .cp_padel_navbar .dropdown-menu{
    transform: translateX(0);
  }
  .cp_padel_navbar{
    .navbar-nav {
      height: 50vh;
      overflow-y: auto;
    }
  }

  .header--inner .cp_padel_navbar .navbar-nav .nav-link{
    padding: 0.5rem;
  }
  .position-ctrl{
    margin-bottom: 0;
  }
  .our-service-details.before:before{
    display: none;
  }
  body.body h2.large-text{
    font-size: 45px;
  }

  body.body h2.medium-text{
    font-size: 40px;
  }
  
  .cp_padel_navbar{
    .navbar-toggler{
      color:$white;
    }
    .navbar-collapse{
      background-color: $heading-color;
}
  }
.header--inner{
  .cp_padel_navbar{
    .navbar-toggler{
      color:$heading-color;
    }
    .navbar-collapse{
      background-color: $whiteSmoke;
    }
  }

}
  
.cp_padel_navbar .navbar-nav .nav-item.active:before{
  bottom: 0;
}
  
  .Breadcrumb {
    margin: 10px 0 0;
    padding: 0;
  }

  .top-sec {
    margin: 30px 0;
  }


  header.header.header--front.opened {
    .fa-bars:before {
      content: "\f00d";
    }
  }

  header.header .main-header .main-menu {
    display: none !important;
  }

  header.header .main-header .header-logo {
    position: relative;
    padding: 0;
    left: 0;
  }

  header.header .container-fluid {
    padding: 0 15px;
  }

  header.header .main-header .header-logo .header-logo__link img {
    width: 140px;
  }

  header.header .main-header .left-header {
    width: 200px;
  }

  header.header.sticky-nav .main-header .right-header,
  header.header .main-header .right-header {
    width: calc(100% - 200px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .fixed-content .aside-dropdown .aside-dropdown__inner {
    padding-top: 80px;
  }

  header.header .main-header .dropdown-trigger {
    display: block !important;
    padding: 3px 10px;
    border: 1px solid $main-color;
    color: $main-color;
    border-radius: 5px;
  }

  header.header .main-header {
    padding: 10px 0;
  }

  .banner .content,
  body.body .container-fluid {
    padding: 0 15px;
  }

  .scroll-table{
    overflow-y: hidden;
    overflow-x: auto;
    .price_table, .time_table{
      width:800px;
    }
  }

  .tournament_result_table{
    width: 600px;

  }

  .result_table{
    
    thead{
      tr{
       
        th{
         
          font-size:18px;
        
        }
        
      }
    }
  
    tbody{
      tr{
      
        td{
        
          font-size: 14px;
         
        }
      }
    }
   
  }

}

@media only screen and (min-width:768px) and (max-width:991px) {
  .custom-modal .form-side {
    padding: 30px 2em;
}


  .contact-sec .contact-box .form-side {
    padding: 25px;
  }
  .event-details #sync1 .item {
    height: 205px;
  }

  .event-details #sync2 .item {
    height: 65px;
  }

  .top-sec .list li {
    padding: 0 10px;
  }

  .top-sec .list {
    margin: 0 -17px;
    font-size: 14px;
  }

  body.body {
    font-size: 15px;

    h1 {
      font-size: 33px;
    }

    .h2,
    h2 {
      font-size: 26px;
    }

    h3 {
      font-size: 20px;
    }

    h4 {
      font-size: 17px;
    }

    h5 {
      font-size: 15px;
    }

    h6 {
      font-size: 14px;
    }

    .text-lg {
      font-size: 32px;
    }

    .text-md {
      font-size: 20px;
    }
  }

  .icon-sec .row .content .img img {
    max-width: 38px;
  }

  .icon-sec .row .content .text {
    width: calc(100% - 38px);
    padding-left: 7px;
  }

  .icon-sec .row {
    padding: 30px 0;
  }

  .icon-sec .row .content .text p {
    font-size: 14px;
  }

  section.image-section.image-row .row {
    justify-content: center;
  }
  .icon-sec {
    margin: -10px 0 25px;
  }
  .fz65{
    font-size: 45px!important;
  }
}

@media only screen and (max-width:767px) {
  .plyer_details_table{
    margin: 0 auto;
  }
  .video-play{
    width: 50px;
    height: 50px;
  }
  .mbc{
    margin-bottom: 64px;
  }
  .funfact-carousel .item .img-box{
    height: auto;
  }
  body.body h2.large-text{
    font-size: 35px;

  }
  .our-venues-carousel .owl-theme .owl-nav{
    top: 48%;
  }
  .our-service-carousel .owl-theme .owl-nav{
    top: 220px;
  }
  .header--inner .cp_padel_navbar .navbar-brand, .cp_padel_navbar .navbar-brand{
    width: 60px;
  }
  .inner-page main{
    padding-top: 66px;
  }
  .ourVenues{
    padding-top: 30px;
  }
  .our-service-carousel .owl-stage-outer{
    padding-top: 90px;
  }
  .video-section:before{
    height: 65%;
  }
  .fz65{
    font-size: 35px!important;
  }
  .footer_ .social-links ul li{
    margin: 0;
  }
  .our-service-carousel .owl-theme .owl-nav button.owl-next{
      right: 0;
  }
  .our-service-carousel .owl-theme .owl-nav button.owl-prev{
      left: 0;
  }
  .ourVenues {
    margin-left: 45px;
    margin-bottom: 70px;
}
  .custom-modal .form-side {
    padding: 15px 0;
}
  .contact-sec .contact-box .form-side {
    display: block;
    width: 100%;
    padding: 20px 15px;
  }
  .contact-sec .contact-box {
    flex-direction: column-reverse;
  }
  .contact-sec .contact-box .img-side {
      display: block;
      width: 100%;
      height: 310px;
  }

  .text-sec.contact-text .contact-links ul {
    margin: 0
  }
  .contact-sec {
      padding: 25px 0;
  }
  .text-sec.contact-text .contact-links li {
      padding: 0 0 15px;
      display: block;
      &:last-child {margin-bottom: 0;}
  }
  
  .event-details #sync1.owl-theme .owl-prev {
    left: 0;
}
.event-details #sync1.owl-theme .owl-next {
  right: 0;
}


  .event-details .event-info {
    margin: 25px 0;
    padding-left: 0;
    border-left: 0;
  }

  .event-details #sync1 .item {
    height: auto;
  }

  .event-details #sync2 .item {
    height: 65px;
  }

  .event-details .event-info .right-side {
    justify-content: flex-start;
    margin-bottom: 15px;
  }

  .event-details .event-info .date-box {
    width: 110px;
    height: 110px;
    padding: 0 15px;
  }

  .event-details .event-info .row {
    flex-direction: column-reverse;
  }

  .upcoming-events .h2,
  .event .h2 {
    margin-bottom: 15px;
  }

  .upcoming-events .text-right,
  .event .text-right {
    text-align: left !important;
    margin-bottom: 20px;
  }

  .event .info {
    display: block;
  }

  .event .info .info-content {
    width: 100%;
    padding: 20px 0;
  }

  .event .info .date {
    width: auto;
    border: 0;
  }

  .contact-sec .box {
    width: 100%;
  }

  .image-section h2.mb-5 {
    margin-bottom: 25px !important;
  }

  .icon-sec .row .content {
    margin-bottom: 40px;
  }

  .icon-sec .row .col-12:last-child .content {
    margin-bottom: 0;
  }

  .top-sec .list li {
    padding: 0 15px;
    width: 50%;
    margin-bottom: 15px;
    height: auto;
  }

  .top-sec {
    margin: 30px 0 0;
  }


  .top-sec .list {
    margin: 0 -15px;
    font-size: 14px;
    flex-wrap: wrap;
  }

  section.image-section.mt-5.pt-3.mb-5 {
    padding-top: 0 !important;
  }

  section.image-section .text-md.mb-4 {
    margin-top: 15px;
  }

  body.body {
    font-size: 15px;

    h1 {
      font-size: 27px;
    }

    .h2,
    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 19px;
    }

    h4 {
      font-size: 17px;
    }

    h5 {
      font-size: 15px;
    }

    h6 {
      font-size: 14px;
    }

    .text-lg {
      font-size: 32px;
    }

    .text-md {
      font-size: 20px;
    }
  }

  .icon-sec .row .content .img img {
    max-width: 38px;
  }

  .icon-sec .row .content .text {
    width: calc(100% - 38px);
    padding-left: 7px;
  }

  .icon-sec .row {
    padding: 30px 0;
  }

  .icon-sec .row .content .text p {
    font-size: 14px;
  }

  section.image-section.image-row .row {
    justify-content: center;
  }

  .icon-sec {
    margin: 30px 0 25px;
  }

  .banner .image-banner {
    height: 330px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .banner .content {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  footer .content {
    padding: 20px 15px;
    font-size: 12px
  }

  .aside-dropdown .aside-dropdown__inner {
    width: 100%;
  }

  header.header.sticky-nav .main-header .left-header {
    width: 130px;
  }

  header.header.sticky-nav .main-header .right-header {
    width: calc(100% - 130px);

  }
  .footer .social-links ul li{
    margin: 0;
  }
  .gotop{
    bottom: 100px;
  }
  .banner{
    height: 500px;
  }
  .banner .banner-caption h1{
    font-size: 30px;
  }
  .about-section{
    height: 580px;

  }
  .about-txt{
    width: 80%;
  }

}



@media(max-width:1024px){
  .carousel_images{
    margin-right: 0rem;
    
  }
  .our-service-section{
    min-height: initial;
  }
  .instagram-items{
      width: 860px;
      height: 372px;
  }
  .copyright{
    width: 160px;
  }
  .about-txt{
    width: 45%;
  }
  .header--inner .cp_padel_navbar .navbar-nav .nav-item{
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media(max-width:991px){

  .result_table{
    width: 1024px;
  }
 
  .header--inner .cp_padel_navbar .navbar-nav .nav-link{
    padding-left: 15px;
    padding-right: 15px;
  }
  .ourVenues{
    margin-left: 10%;


  }
  .banner .banner-caption h1{
    font-size: 40px;
  }
  .about-txt{
    width: 90%;

  }
  .instagram-items{
      width:630px;
      height: 302px;
  }
  .copyright{
    width: 70%  }
    .instagram-container{
      padding: 30px;
    }

    .our-service-section{
      min-height:70vh;
    }
  .time_table, .price_table{
      tr{
        th{
          font-size:16px;
        }
        td{
          font-size:18px;
        }
        
      }
    }
}


@media(max-width:767px){
  .instagram-container{
    padding: 0;
  }
  .instagram-items{
      width:calc(100% - 30px);
      height: auto;
      .item{
        height: auto!important;
        width: 100%;
    }
  }
 
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	
