.c-d {
    margin-top: -20px;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
}
.nl{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

Leagues 
It isn’t obvious that we host more than one league from the design. 

Have the download rules and regs, register buttons moved to the appropriate pages and change the header on the black banner to Leagues not Programs 
https://cfpadel.nexatestwp.com/programs/head-community-padel-league/

serenadev1
https://serenadev1.nexatestwp.com/
https://kbza.nexatestwp.com/
